<!DOCTYPE html>
<html>
  {{- partial "head" . -}}
  {{ partial "inject/head" . }}
  
  <body>

    <header class="container-xxl">
      {{- partial "header" . -}}
    </header>

    {{- partial "nav-top" . -}}

    <main id="content" class="container-xxl">
          {{- block "main" . -}}
          {{ end }}
    </main>

    <footer class="container-xxl py-3">
        <div class="row">
          {{- partial "footer" . -}}
        </div>
    </footer>

    {{- partial "scripts" . -}}
  
  </body>
</html>
