{{ define "main" }}
<div class="row">
  <div class="page-title col-12">
    <h1>
      <a href="{{ .RelPermalink }}">{{ partial "title" . }}</a>
    </h1>
  </div>
</div>

<div class="row">
  <aside class="mnstri-menu col-sm-4 col-lg-3">
    {{partial "nav" . }}
  </aside>


  <div class="col px-4">

    <div class="row">
      <div class="col">
        <article class="main-page-content col">
          {{ if .Params.featured}}
          {{ partial "page-featured-image" . }}
          {{ end }}
          {{ .Content }}
        </article>
      </div>
    </div>

    <div class="row">
    {{ range sort .Paginator.Pages }}
    <div class="col-md-6 col-lg-4">
        <div class="card mb-4 pb-4">
          <a href="{{ .RelPermalink }}">{{ partial "post-meta-img" . }}</a>
          <h5 class="card-title px-3">
          <a href="{{ .RelPermalink }}">{{ partial "title" . }}</a>
          </h5>
          <p class="card-text px-3">
            {{- .Summary -}}
            {{ if .Truncated }}
              <a href="{{ .RelPermalink }}">...</a>
            {{ end }}
          </p>
          {{ partial "post-meta" . }}
        </div>
      </div>
    {{ end }}
    </div>
    <div class="row">
    {{ template "_internal/pagination.html" . }}
  </div>
  </div>
</div>
  
{{ end }}
