{{ define "main" }}
  <div class="row">
    <div class="page-title col-12">
      <h1>
        <a href="{{ .RelPermalink }}">{{ partial "title" . }}</a>
      </h1>
    </div>
  </div>

  <div class="row">
    <aside class="mnstri-menu col-sm-4 col-lg-3">
      {{partial "nav" . }}
    </aside>
    <article class="main-page-content col-sm-8 col-lg-9 px-4">
      {{ if .Params.featured}}
      {{ partial "page-featured-image" . }}
      {{ end }}
      {{ .Content }}
    </article>
  </div>
{{ end }}