<div class="col">
  {{ if .Site.Params.debug}}{{ partial "footer-debug" . }}{{ end }}
  <p class="footer">&copy; {{ replace .Site.Copyright "{year}" now.Year }}</p>
  <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a></p>
</div>