<head>
  <meta charset="utf-8">
  <meta name="description"
      content="Website meta description for google search results go here" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{ $options := (dict "targetPath" "css/styles.css" "outputStyle" "compressed") }}

  {{ $style := resources.Get "sass/main.scss" | toCSS  $options | minify }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" media="screen">

  <!-- 
      include a favicon for your site if you have it, else omit the line below 
      Location of favicon can be in mytheme/static/favicon.ico
      had to put an absolute url here since I could not get the url correct with hugo, need to find a fix.
  -->
  <link rel='shortcut icon' type='image/x-icon' href="/favicon.ico" />

  {{ if isset .Params "p5js-widget" }}
  <script src="//toolness.github.io/p5.js-widget/p5-widget.js" width="200"></script>
  {{ end }} 

  {{ $title := print .Site.Title " | " .Title }}
  {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
  <title>{{ $title }}</title>

</head>