<nav class="container-xxl navbar-expand sticky-top mnstri-top-nav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      {{ $currentPage := . }}
      {{ $type := .Type }}
      {{ range .Site.Menus.main }}
      {{ $id := .Identifier }}
          <li class="navbar-item {{ if eq $type $id }} active{{end}}">
            <a class="nav-link{{ if eq $type $id }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
          </li>
      {{ end }}
    </ul>
  </div>
</nav>