// bootstrap variable overrides

// scss-docs-start theme-color-variables
$primary:       #585f50;
$light:         #f1eee8;
$dark:          #192903;
$pink:          #ac6086;
// scss-docs-end theme-color-variables

// body
$body-bg:        $light;
$body-color:     $dark;

// shadows
$box-shadow-btm:     0 0.2rem 0.2rem 0.1rem rgba($dark, .25);
$box-shadow-top:     0 -0.2rem 0.2rem 0.1rem rgba($dark, .25);

// border styles
$element-border:    0.25rem dashed $primary;

//code
$code-text:        $light;
$code-bg:          $dark;
