{{ define "main" }}
<div class="row">
  <div class="page-title col-12">
    <h1>
      <a href="{{ .RelPermalink }}">{{ partial "title" . }}</a>
    </h1>
  </div>
</div>

<div class="row">
  <aside class="mnstri-menu col-sm-4 col-lg-3">
    {{partial "nav" . }}
  </aside>
  <div class="col px-4">
    
    <div class="row">
      <div class="col">
        <h2>Final Project Progress</h2>
      </div>
    </div>
    <div class="row">
      {{ partial "latest-final-project" . }}
    </div>

    <div class="row">
      <div class="col">
        <h2>Latest Assignments</h2>
      </div>
    </div>
    <div class="row">
      {{ partial "latest-weekly-assignments" . }}
    </div>

    <div class="row">
      <div class="col">
        <h2>Latest Tutorials</h2>
      </div>
    </div>
    <div class="row">
      {{ partial "latest-tutorials" . }}
    </div>

    <div class="row">
    {{ template "_internal/pagination.html" . }}
  </div>
  </div>
</div>
  
{{ end }}
